
#iframe {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow-x: hidden none;
    overflow-y: hidden;
}
#iframe img{
    width:100%;

}
article {
    position: relative;
    color: #000000;
    margin-top: -146%;
    margin-left: 12%;
    margin-right: 9%;
    font-size: 18px;
    z-index: 30;
}