body{
    position: absolute;
    width: 100%;
    height: 700%;
    background-color: #210809;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}


/*header - logo positie, benaming pagina*/

header .logo{
    position: fixed;
    width: 35%;
    margin: 1%;
    margin-left: 2%;
    margin-top: 2%;
}
header h1 {
    position: fixed;
    margin: 85%;
    margin-top: 6%;
    color: #ed8719;
    float: right;
    font-size: 2em;
}
header .achtergrond{
    position: fixed;
    z-index: -1;
    width: 103%;
    margin: -2%;
}
/*navigatie - alle tabbladen*/

nav{
    position: fixed;
    margin: 14%;
    width: 100%;
}
nav ul{
    position: relative;
    list-style: none;
    z-index: 1;
    margin-left: -28%;
    margin-top: 0%;
}
nav li{
    float: left;
    display: inline;
    margin-left: 15.5%;
    font-size: 133%;
    text-decoration: none;
    width: 3%;
}
nav img{
    width: 105%;
    position: fixed;
    margin: -3%;
    margin-left: -19%;
    z-index: -1;
}
nav li a{
    text-decoration: none;
    color: #000;
}
nav li a:hover{
    color: #ffffff;
    cursor: pointer;
}
/*navigatie - het submenu*/
nav ul ul{
    position: absolute;
    display: block;
    margin-top: 3%;
    font-size: 17px;
    visibility: hidden;

}
nav ul ul li{
    display: block;
    margin-top: -1%;
    margin-left: 84%;
    z-index: 1;
    background: url(images/perkament-nav.png);
    line-height: 78%;
    border: 1% solid #ffffff;
    padding: 4%;
    width: 42.9%;
    text-align: left;
    left: -64%;
}
nav .navachter{
    z-index: -2;
    width: 17.9%;
    margin-left: -54.6%;
    height: 30%;
    visibility: visible;
}
nav ul ul li a{
    display: block;
    margin-left: 38.4%;
}
nav ul li:hover ul {
    visibility: visible;
}
/*section - het scrollachtergrond*/
section img{
    position: relative;
    z-index: -25;
    width: 99%;
    height: 20%;
}

/*footer - copyright etc*/
footer img{
    position: fixed;
    left:0%;
    bottom:0%;
    height:2%;
    width:100%;
    z-index: 1;
}
footer p{
    position: fixed;
    left: 0%;
    bottom: 0%;
    height: 0.5%;
    width: 100%;
    color: #ffffff;
    z-index: 5;
    text-align: center;
    font-size: 50%;
}
footer a{
    position: fixed;
    left: -1%;
    bottom: 0%;
    height: 1.7%;
    width: 100%;
    color: #ffffff;
    z-index: 5;
    font-size: 65%;
    text-align: right;
}

@media only screen and (max-width: 1024px) {
    header h1 {
        position: fixed;
        margin: 85%;
        margin-top: 5%;
        color: #ed8719;
        float: right;
        font-size: 1.7em;
    }
}

@media only screen and (max-width: 640px) {
    header h1 {
        position: fixed;
        margin: 84%;
        margin-top: 5%;
        color: #ed8719;
        float: right;
        font-size: 1.3em;
    }
}